<!DOCTYPE html>
<html>
<head>
    <title> OWSAP TOP 10 API Scuirty</title>
</head>
<body>
<div style="text-align: center;">
    <img src="{{ url_for('static', filename='OWASP-Combination-mark-r.png') }}" alt="alternative-text">
    
    <h1>Welcome my Labs OWSAP TOP 10 API</h1>
    
    
    
    <a href="{{ url_for('app1.home') }}">Go to Lab Broken Object Level Authorization Page</a> <!-- 1 -->
    <br>
    <a href="{{ url_for('app2.home') }}">Go to Lab Broken Authentication Page</a> <!-- 2 -->
    <br>
    <a href="{{ url_for('app3.home') }}">Go to Lab Broken Object Property Level Authorization Page</a> <!-- 3 -->
    <br>
    <a href="{{ url_for('app4.home') }}">Go to Lab Unrestricted Resource Consumption Page</a> <!-- 4 -->
    <br>
    <a href="{{ url_for('app5.home') }}">Go to Lab Broken Function Level Authorization Page</a> <!-- 5 -->
    <br>
    <a href="{{ url_for('app6.home') }}">Go to Lab Unrestricted Access to Sensitive Business Flows Page</a> <!-- 6 -->
    <br>
    <a href="{{ url_for('app7.home') }}">Go to Lab Server Side Request Forgery Page</a> <!-- 7 -->
    <br>
    <a href="{{ url_for('app8.home') }}">Go to Lab Security Misconfiguration Page</a> <!-- 8 -->
    <br>
    <a href="{{ url_for('app9.home') }}">Go to Lab Improper Inventory Management Page</a> <!-- 8 --> 
    <br>
    <a href="{{ url_for('app10.home') }}">Go to Lab Unsafe Consumption of APIs Page</a> <!-- 10 -->
    
</div>
   
</body>
</html>
